@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.item-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.item-button button {
  margin-top: 10px;
  width: 150px;
  background-color: #ffd885;
  color: black;
  align-items: center;
}

.item-button button:hover {
  color: black;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spinner-border {
  width: 60px;
  height: 60px;
}
